/* Estilos generales del body y la página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f6f6f6, #e2e2e2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Estilo del encabezado */
h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el grupo de entrada */
.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo del campo de entrada */
.input-group input {

    flex: 1;
    padding: 12px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 12px 0 0 12px;
}

/* Estilo del botón de YouTube (o TikTok) */
.youtube-btn {
        background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 12px 12px 0;
}

.youtube-btn img {
    width: 35px;
    height: 35px;
}

/* Estilo del botón de descarga */
.download-btn {
    padding: 12px 28px;
    font-size: 1rem;
    background: linear-gradient(45deg, #fe2c55, #25f4ee);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin-top: 20px;
}

.download-btn:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

/* Añadido un poco de espacio entre los botones */
.download-btn:focus, .youtube-btn:focus {
    outline: none;
}
