<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404 - Página no encontrada</title>
  <style>
    body {
      background-color: #f8f8f8;
      font-family: sans-serif;
      text-align: center;
      padding: 20px;
    }
    img {
      max-width: 100%;
    }
    h1 {
      font-size: 35px;
      margin-top: 20px;
      color: #333;
    }
    p {
      font-size: 20px;
      color: #666;
    }
    
    a{
        text-decoration: none;
        background-color: #9c9c9c;
        color: rgb(255, 255, 255);
        padding: 8px 10px 8px 10px;
        border-radius: 15px;
    }
  </style>
</head>
<body>
  <img src="../static/img/404.jpeg" alt="ERROR 404">
  <h1>Oops... Página no encontrada</h1>
  <p>Lo sentimos, la página que buscas no existe o fue eliminada.</p>
  <a href="/">ir a la pagina principal</a>
</body>
</html>
