<!DOCTYPE html>
<html>
<head>
    <title>Proyecto</title>
</head>
<link rel="icon" href="../static/fav/fav.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
<body>
<header>
    <h1 class="titulo">Pagina de inicio</h1>
</header>
    <section class="container">
        <article class="post">
            <h2> Ev Loader</h2>
            <p>lineas largas para 8 ball pool</p>
            <img src="../static/img/ev.jpg">
            <p>descarga el Ev loader actualizado
                se necesita el EV Loader y un 8 ball pool en especifico 
                solo baja un poco mas en la pagina y ahi encontraras el enlace para el 8 ball pool
            </p>
            
            <a href="https://www.mediafire.com/file/tfafas7nti09eyf/EV_Loader_1.2.0.apk/file">EV LOADER AQUI</a>
    </article>
        <article class="post">
        <h2> titulo de mi post</h2>
        <p>descripcion de mi post</p>
        <img src="../static/img/img.jpg">
        <p>texto del articulo</p>
</article>
    <article class="post">
        <h2> titulo de mi post</h2>
        <p>descripcion de mi post</p>
        <img src="../static/img/img2.jpg">
        <p>texto del articulo</p>
    </article>
    <article class="post">
        <h2> titulo de mi post</h2>
        <p>descripcion de mi post</p>
        <img src="../static/img/img3.jpg">
        <p>texto del articulo</p>
</article>
<article class="post">
    <h2> titulo de mi post</h2>
    <p>descripcion de mi post</p>
    <img src="../static/img/img4.jpg">
    <p>texto del articulo</p>
</article>
<article class="post">
    <h2> titulo de mi post</h2>
    <p>descripcion de mi post</p>
    <img src="../static/img/img5.jpg">
    <p>texto del articulo</p>
</article>
<article class="post">
    <h2> titulo de mi post</h2>
    <p>descripcion de mi post</p>
    <img src="../static/img/img6.jpg">
    <p>texto del articulo</p>
</article>
</section>

    <footer>
        <section>
            <a href="inicio.html">refrescar pagina</a>
        </section>
        <p>copyrigth</p>
    </footer>


</body>
</html>