<!DOCTYPE html>
<html lang="es">
  <head>
    <title>INICIO</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Descarga videos de TikTok, YouTube y mucho más, sin marcas de agua. Visita nuestro panel para ganar seguidores y más!"
    />
    <meta
      name="keywords"
      content="descargar videos de tik tok sin marca de agua,descargar videos de YouTube, seguidores, hack, EV loader, 8 ball pool, bloqueador páginas, panel smm, seguidores baratos, "
    />
    <meta name="author" content="Miguel" />
    <link rel="icon" href="../static/fav/fav.jpeg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4520364325008604"
     crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <h1 class="titulo">Página de Inicio</h1>
    </header>

    <section class="container">

      <article class="post">
        <h2>Efecto maquina de escribir con python</h2>
        <p>
          En este archivo esta documentato el paso a paso para lograr este
          efecto
        </p>
        <img
          src="https://th.bing.com/th/id/OIP.KnOS3vOcNhLla8LSZw4TugHaHa?w=174&h=180&c=7&r=0&o=5&pid=1.7"
          alt="logo de python"
        />
        <p>
          solo descarga el siguiente archivo y abrelo en un editor de codigo y
          listo
        </p>
        <a class="ab" href="#" onclick="descargarArchivo(); return false;"
          >Descarga aquí</a
        >
      </article>

          <article class="post">
        <h2>haz una imagen bonita de tu codigo</h2>
        <p>
         te gustaria hacer bonitas imagenes para redes sociales?
        </p>
        <img
          src="https://pbs.twimg.com/media/Fm64EHdXoAAauut.jpg"
          alt="codigo"
        />
        <p>
         visita esta pagina 100% gratis y genera tus imagenes facil y rapido
        </p>
        <a class="ab" href="/imgcode"  
          >IR A LA PAGINA</a
        >
      </article>

         <article class="post">
        <h2>Cuentas de streaming</h2>
        <p>
          hola te interesan ver series o peliculas, yyouube en segundo plano, poder editar en canva pro?
          visita la pagina para comprar tus cuentas de manera mas accesible
        </p>
        <img
          src="      https://th.bing.com/th/id/R.1db02159be0e0306a80fa8d86adb1e4a?rik=lRtd8KVqd6S0Sw&pid=ImgRaw&r=0
"
          alt="streaming"
        />
        <p>
         Visita la pagina para comprar cuentas de streaming
        </p>
        <a class="ab" href="/streaming"
          >Ir a la pagina</a
        >
      </article>


      {% for post in posts %}
      <article class="post">
        <h2>{{ post.titulo }}</h2>
        <p>{{ post.parrafo }}</p>
        <img src="{{ post.img }}" alt="{{ post.alt }}" />
        <p>{{ post.descripcion }}</p>
        <a class="ab" href="{{ post.enlace_href }}">{{ post.enlace_texto }}</a>
      </article>
      {% endfor %}
    </section>

    <footer>
      <section>
        <a
          href="https://wa.me/524661002589?text=Hola%2C%20vengo%20desde%20tu%20página%20web%20y%20quiero%20más%20información"
          >Contacto</a
        >
      </section>
      <p>&copy; 2025 KingShop. Todos los derechos reservados.</p>
    </footer>
  </body>

  <script>
    function descargarArchivo() {
      const enlace = document.createElement("a");
      enlace.href = "/static/tutorial/tutorial.py"; // ajusta la ruta si es necesario
      enlace.download = "tutorial.py"; // puedes incluir la extensión
      document.body.appendChild(enlace);
      enlace.click();
      document.body.removeChild(enlace);
    }
  </script>
</html>
