<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="../static/nosee.css">
</head>
<body>
    <div class="container">
        <h1>Download<br>YouTube Videos</h1>
        <div class="input-group">
            <input type="text" placeholder="Enter video URL">
            <button class="youtube-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_(2017).svg" alt="YouTube" />
            </button>
        </div>
        <button class="download-btn">Download</button>
    </div>
</body>
</html>